@import "../abstracts/variables";

@mixin header_home {
  header {
    background: $white;
    position: fixed;
    z-index: 1;
    width: 1500px;
    margin: 50px auto 0;
    border-radius: 50px;
    left: calc((100% - 1500px) / 2);
    box-shadow: 0 0.188rem 1.25rem #ababab;

    & .menu {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 70px;

      .logo img {
        width: 80px;
      }

      nav ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 3.125rem;

        & li a {
          text-decoration: none;
          color: $black;
          font-size: 1.125rem;


          &:hover {
            color: $blue-light;
          }
        }

      }

      .btn-nav {
        display: flex;
        gap: 1.25rem;
        align-items: center;

        & .language {
          display: flex;
          align-items: center;
          gap: 10px;

          .material-symbols-outlined {
            display: inline-block;
            color: $blue-light;
            font-size: 30px;
          }
        }

        & button {
          border: 1px solid $gray-dark;
          background: $white;
          text-transform: uppercase;
          border-radius: 50px;
          font-size: .9rem;
          font-weight: 800;
          line-height: 1.1rem;
          display: flex;
          overflow: hidden;
          padding: 0px;

          & span {
            padding: 8px 10px;
          }

          & .btn-es {
            background: $gray-dark;
            border-radius: 50px;
          }

        }

        & a {
          text-decoration: none;
          background: $red;
          color: $white;
          padding: 8px 30px;
          border-radius: 50px;
        }

      }
    }

  }
}