@import "../abstracts/variables";

@mixin team {
  .team {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;

    h2 {
      & .blue {
        color: $blue-dark;
      }

      & .red {
        color: $red;
      }
    }

    .box-lr {
      display: flex;

      & .box-txt {
        
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        justify-content: center;
        background: $blue-dark;
        color: $white;
        padding: 3.125rem;
        border-radius: 20px 0 0 20px;
        width: 65%;

        & a {
          text-decoration: none;
          background: $red;
          color: $white;
          padding: 8px 30px;
          border-radius: 50px;
        }
      }

      & .box-img {
        background: $gray-dark;
        padding: 1.875rem;
        border-radius: 0 20px 20px 0;
      }
    }
  }
}